// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300');
// @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.load-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  